[submodule "fltk"]
	path = dependencies/fltk
	url = git@github.com:fltk/fltk.git
[submodule "nlohmann_json"]
	path = dependencies/nlohmann_json
	url = git@github.com:nlohmann/json.git
[submodule "pybind11"]
	path = dependencies/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "future"]
	path = dependencies/python-future
	url = https://github.com/rodjjo/python-future.git
