# I had to fix those packages in order to install in embedded python
# future @ git+https://github.com/rodjjo/python-future.git@57f747cc4bcffa805b47bb1e5df7550a53fe8ba9
# filterpy @ git+https://github.com/rodjjo/filterpy.git@a34721e266c4c39f8abd5037ea83c2ed774d9606
OmegaConf==2.3.0
accelerate==0.20.3.
numpy==1.23.5
transformers==4.31.0
safetensors==0.3.1
GitPython==3.1.31
pytorch_lightning==2.0.2
torchdiffeq==0.2.3
einops
tdqm
pynvml==11.5.0
# ctransformers
# https://github.com/jllllll/ctransformers-cuBLAS-wheels/releases/download/AVX2/ctransformers-0.2.22+cu117-py3-none-any.whl

# auto-gptq
https://github.com/PanQiWei/AutoGPTQ/releases/download/v0.4.1/auto_gptq-0.4.1+cu117-cp310-cp310-win_amd64.whl; platform_system == "Windows"